.counter-container{
    background-color: aquamarine;
    padding: 10px;
    border: 6px solid gold;
    border-radius: 10px;
}
h2{
    border: 1px solid gold;
    border-radius: 10px;
    margin:20px;
    background-color: white;
}
button{
    margin: 0 10px;
    background-color: blue;
    color: white;
    border-radius: 10px;
}