* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
  transition: background-color 0.3s, color 0.3s;
}
body.dark-mode {
  background-color: #121212;
  color: #f1f1f1;
}
/*theme Toggle*/
#themeToggle {
  background: none;
  border: 2px solid #666;
  border-radius: 5px;
  color: #666;
  padding: 6px 12px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
#themeToggle:hover {
  color: #fff;
  background: #333;
}

/* Menu toggle */
#menuToggle {
  display: none;
  color: white;
  border: 2px solid gray;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  background-color: #2c3e50;
}
#menuToggle:hover {
  color: #fff;
  background: #333;
}


/*Header*/
header {
  background-color: #2c3e50;
  color: white;
  padding: 20px 10px;
  text-align: center;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
  /* position: fixed;
  z-index: 5;
  width: 100%; */
}
header h1 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}
header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}
header nav ul.active {
  list-style: none;
  display: block;
  justify-content: center;
  gap: 20px;
  left: 0;
}
header nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
header nav ul li a:hover {
  text-decoration: underline;
}


/*About */
#about {
  padding: 80px 20px;
  text-align: center;
  background-color: lightgray;
}
#about h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

#about p {
  max-width: 600px;
  margin: 0 auto;
  font-size: 1.1rem;
  color: #555;
}
/*Hire Me*/
#hire {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 20px;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes glow {
  0% {
    box-shadow: 0 0 5px #0ff;
  }
  50% {
    box-shadow: 0 0 20px #0ff;
  }
  100% {
    box-shadow: 0 0 5px #0ff;
  }
}
#hire button {
  background: #3498db;
  color: white;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 10px;
  border: 1px solid gray;
  transition: transform 0.5s ease;
  animation: pulse 2s infinite;
}
#hire button:hover {
  transform: scale(1.2);
  animation: none;
}

/* Project */
#projects {
  padding: 40px 20px;
  background-color: #fff;
  text-align: center;
}
#projects h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

#projects ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 0;
}
#projects ul li {
  background-color: #3498db;
  color: white;
  padding: 20px;
  border-radius: 8px;
  width: 200px;
  transition: transfrom 0.3s ease, box-shadow 0.3s ease;
}
#projects ul li:hover {
  transform: scale(1.05) translateY(-10px);
  box-shadow: o 10px 20px rgba(0, 0, 0, 0.2);
  background-color: #2980b9;
}

/* Contact */
#contact {
  padding: 80px 20px;
  text-align: center;
  background-color: #ecf0f1;
}
#contact h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}
#contact p {
  font-size: 1.1rem;
  margin: 10px 0;
}
#contact a {
  color: #3498db;
  text-decoration: none;
}
#contact a:hover {
  text-decoration: underline;
}

/*Footer */
footer {
  background-color: #2c3e50;
  color: white;
  text-align: center;
  padding: 20px 0;
}
html {
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
  header nav ul {
    position: fixed;
    top: 0;
    left: -100%;
    width: 200px;
    height: 100vh;
    background: #111;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: left 0.3s ease;
  }
  #project ul {
    flex-direction: column;
  }
  #menuToggle {
    display: block;
  }
  #project-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    
  }
}
